<div class="section" id="headerSection">
        <div class="textWrapper">
            <h1>开始使用RChain</h1>
    </div>
</div>

<div class="section" id="developerSection">

    <div id="tab">
        <div class="item tab active" id="developer">
            <img src="/assets/gear-icon@3x.png">
            <a href="javascript:void(0)">开发者</a>
        </div>
        <div class="item tab" id="validator">
            <img src="/assets/arrow-icon@3x.png">
            <a href="javascript:void(0)">验证者</a>
        </div>
    </div>

    <div class="tabContent active" id="developerContent">

        <div class="flexWrapper">
            <div class="textWrapper">
                <h2>使用RChain创建去中心化应用</h2>
                <p>RChain提供了一个完备的基础平台供开发者简单而快速地构建去中心化应用(DApp, Decentralized Application)。只需要几行代码，您的第一个RChain DApp即可在区块链上启动并开始交易。</p>
                <h6>只需完成以下4个步骤:</h6>
                <div class="list">
                    <div>
                        <p>1</p>
                        <p><a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/428376065/User+guide+for+running+RNode">下载RChain节点(RNode)</a> 并将节点连接到RChain网络</p>
                    </div>
                    <div>
                        <p>2</p>
                        <p>学习<a href="https://github.com/JoshOrndorff/nth-caller-game" target="_blank">如何编写第一个DApp</a></p>
                    </div>
                    <div>
                        <p>3</p>
                        <p>完成<a href="/learn-rholang">Rholang教学</a>并创建您的第一个DApp</p>
                    </div>
                    <div>
                        <p>4</p>
                        <p>关注并与<a href="rchain-cooperative">RChain社区</a>合作</p>
                    </div>
                </div>
            </div>
            <div class="imgWrapper"><img src="/assets/get-started/1_GIF3_960x800.gif"></div>
        </div>
    </div>

    <div class="tabContent" id="validatorContent">
        <div class="flexWrapper">
            <div class="textWrapper">
                <h2>更多关于RChain验证者的信息即将推出！</h2>
                <p>如果您希望在RChain主网上线前获得权益，请查看我们的<a href="https://blog.rchain.coop/become-a-validator-and-acquire-rhoc-for-staking/" target="_blank">承诺验证者项目</a>。</p>
            </div>
            <div class="imgWrapper"><img src="/assets/get-started/2_Image1_960x800.png"></div>
        </div>
    </div>

</div>
