<div class="section" id="headerSection">

    <div class="textWrapper">
        <h1>重构理想世界，巨量区块并发</h1>
        <p>RChain是一个合作社，目标为构建区块链平台和工具，以强大、安全和可扩展的方式实现社会协作。</p>
        <a href="/get-started" class="btn-blue">现在开始</a>
    </div>

    <div class="vidyaWrapper">
        <video width="900" height="500" controls>
            <source src="/assets/homepage/RChainHero_V5.mp4" type="video/mp4">
        </video>
    </div>

    <ul>
        <li><img src="/assets/icon-1@3x.png"><p>创新性的解决方案以应对前所未有的全球性挑战和地方性危机。</p></li>
        <li><img src="/assets/icon-2@3x.png"><p>以卓越的可扩展性及交易速度来解决当今问题。</p></li>
        <li><img src="/assets/icon-3@3x.png"><p>构造一个完备的区块链解决方案以促使人与人之间的全面合作。</p></li>
        <li><img src="/assets/icon-4@3x.png"><p>在蓬勃发展的社区协助下共同应对复杂的全球性挑战。</p></li>
    </ul>

</div>

<div class="section" id="rhoSection">

    <div class="divider"></div>
    <h1>Rho革命</h1>
    <h3>突破性的并发计算系统，解锁区块链潜力。</h3>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/1_GIF5_1120x1120.gif">
        </div>
        <div class="textWrapper">
            <h2>一个完备的系统</h2>
            <p>RChain凭借超快速、具备全球规模的技术平台来支撑透明、安全的交易。基于合作治理方式与可持续经济模型，RChain将成为一个公共工具，用于解决当下最重要的问题。</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/2_GIF1_1220x1360.gif">
        </div>
        <div class="textWrapper">
            <h2>在各种规模场景下保持快速高效</h2>
            <p>整个网络的智能并发及在合适的范围内进行交易验证，可有效避免资源浪费。使交易可运行在更低执行成本和更高效率的环境下。</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/3_GIF4_1120x1120.gif">
        </div>
        <div class="textWrapper">
            <h2>保障应用安全可靠</h2>
            <p>RChain基于完备的去中心化架构设计不会为追求规模扩张而妥协安全性。RChain的合约编程语言--Rho语言--使开发者可以编写并发程序并验证所有进程的正确性。</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/4_GIF2_1220x1360.gif">
        </div>
        <div class="textWrapper">
            <h2>以合作的方式构建、孕育、管理</h2>
            <p>RChain拥有一个鼓舞人心、极其透明的开源合作社。RChain合作社的会员们用宝贵的贡献丰富了RChain生态的各个部分，带来了RChain未来的无限可能。</p>
        </div>
    </div>

    <div>
        <a href="/platform" class="btn-blue2">学习更多关于RChain和Rho语言</a>
    </div>

</div>

<div class="section" id="communitySection">
    <div>
        <h6>爱好者 & 朋友们</h6>
        <h2>加入RChain社区</h2>
        <p>社区是RChain的核心。包容性的合作模式、均衡回报和目标驱动的愿景是我们得以共同构建技术和社会工具的重要基础。我们将积极的互相帮助以促进我们的世界向更真实、更积极的方向进步。</p>
    </div>

    <div class="flexWrapper">
        <div>
            <a href="https://github.com/rchain/" target="_blank"><img src="/assets/github@3x.png"></a>
        </div>
        <div>
            <a href="https://twitter.com/rchain_coop" target="_blank"><img src="/assets/twitter@3x.png"></a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank"><img src="/assets/youtube@3x.png"></a>
        </div>
        <div>
            <a href="https://discord.gg/fvY8qhx" target="_blank"><img src="/assets/discord@3x.png"></a>
        </div>
    </div>

</div>

<div class="section" id="getStartedSection">
    <div>
        <h2>准备好参与这场变革了吗？</h2>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">现在开始</a>
    </div>

</div>
