<div class="section" id="rchainSection">


    <h1>RChain合作社</h1>
    <p>RChain合作社成立于2017年1月，旨在管理RChain的平台开发和未来发展。合作社支撑和维持RChain成长为一个公有的并且公众一起运营的信息工具。RChain合作社会员通过不断试验治理模型并在社团内部赋予每个会员代理权力来为RChain注入活力。最终Rchain合作社会员们将组建成为去中心化的自治组织。</p>
    <a href="https://member.rchain.coop/#/sign-up" target="_blank" class="btn-blue2">如何成为RChain合作社会员</a>
</div>

<div class="section" id="quoteSection">
    <p><span>"</span>为成为可以支撑商业化应用的区块链解决方案，RChain需要具备Facebook规模的内容交付能力并提供与Visa相匹配的交易速度。<span>"</span></p>
    <h6>Greg Meredith</h6>
</div>

<div class="section" id="leadershipSection">
    <div class="flexWrapper">
        <div class="card">
            <img src="/assets/leadership/greg meredith.jpg">
            <div class="textWrapper">
                <h6>主席</h6>
                <h4>Greg Meredith</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/kate.jpg">
            <div class="textWrapper">
                <h6>财务总监 & 首席财务官</h6>
                <h4>Kate Gonsalves</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/Evan Jensen.jpg">
            <div class="textWrapper">
                <h6>秘书</h6>
                <h4>Evan Jensen</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/kenny rowe.jpeg">
            <div class="textWrapper">
                <h6>首席运营官</h6>
                <h4>Kenny Rowe</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/profile 2.jpg">
            <div class="textWrapper">
                <h6>社区负责人</h6>
                <h4>Patrick Maguire</h4>
            </div>
        </div>
    </div>
</div>
