<div class="section" id="rchainSection">


    <h1>RChain平台</h1>
    <h3>可扩展、高效、可靠、真正去中心化的区块链平台</h3>
    <div class="divider"></div>
    <p>RChain是为支撑去中心化应用而构建的完备的区块链平台。RChain网络具备智能并发执行的特性，可解锁区块链潜力以支撑各类型及各种规模的交易。RChain旨在最小的计算和基础环境成本下提供最高效的服务能力，为RChain应用的全球协作提供根基和普适性。</p>

    <div class="wrapper">
        <div class="imgWrapper">
            <img src="/assets/platform/1_GIF6_950x580.gif">
        </div>
        <div class="textWrapper">
            <h2>区块链现状</h2>
            <p>现如今的区块链平台仍有诸多不足之处。</p>
            <p>当前区块链系统受到单链问题的限制，只能进行顺序计算，不可避免的限制了区块链的可扩展性及平台性能，也增加了其交易成本。巨大的能耗及算力需求使其丧失了部署大规模去中心化应用的希望。</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="imgWrapper">
            <img src="/assets/platform/2_GIF7_950x580.gif">
        </div>
        <div class="textWrapper">
            <h2>RCHAIN</h2>
            <p>创新性的共识机制及并发处理能力增强了交易的性能、安全性、可扩展性及可持续性。</p>
            <p>与其他区块链不同，RChain在体系架构设计之初便具备并发计算能力。</p>
        </div>
    </div>

</div>

<div class="section" id="rhoSection">
    <div>
        <h3>RHO</h3>
        <h2>反射高阶演算(Reflective Higher-order Calculus)</h2>
        <p>反射高阶演算是赋能RChain的突破性计算模型。Rho演算为RChain提供的无与伦比的大规模计算效率，并便于开发者快速构建更安全的去中心化应用。</p>
    </div>
    <div class="flexWrapper">
        <h1>命名空间</h1>
        <div class="flexWrapper">
            <p>命令空间，即RChain网络节点的虚拟分组，可由开发者针对特定参数定制化指定。.</p>
            <p>命名空间可充当网络上的虚拟<i>通道</i>，独立并发的处理交易事务。</p>
            <p>下一代分片机制将RChain网络划分为多个优化后的分片，解决了其他链中的分片竞争问题。</p>
            <p>开发者有权决定如何执行和优化合约以满足特定应用需求。</p>
        </div>
    </div>
    <div class="flexWrapper">
        <h1>自验证</h1>
        <div class="flexWrapper">
            <p>在合约执行前将检查并正式验证每个命名空间、进程及交易。</p>
            <p>内置的私有协议可确保安全性及数据恢复能力。</p>
            <p>开发者尽管快速且自信的构建代码，代码和合约必须是被验证为正确的才能构建成功。</p>
            <p>细粒度的并发使开发者能够为每个交易选择最优的、大小合适的验证路径。</p>
        </div>
    </div>
</div>

<div class="section" id="posSection">
    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/platform/3_GIF8_950x580.gif">
        </div>
        <div class="textWrapper">
            <h2>权益证明</h2>
            <ul>
                <li>真正的去中心化系统，具备透明参与激励机制</li>
                <li>基于权益的系统以避免计算资源浪费</li>
                <li>不均衡区块链经济模型的分发</li>
                <li>可持续性模型以实现无限可扩展的规模</li>
            </ul>
        </div>
    </div>
</div>

<div class="section" id="communitySection">
    <div>
        <h2>Rho语言(Rholang)</h2>
        <p>RChain平台的核心即Rho语言，这是一种基于Rho演算的具有创新性突破的智能合约编程语言。Rho语言设计轻量且富有表现力，可以以细粒度并发运行在RChain节点上。Rho语言为开发人员提供了一种简单、安全、快速的区块链交易工具。</p>
    </div>

    <div class="flexWrapper">
        <div>
            <img src="/assets/platform/RChainHero1991.png">
            <p>并发</p>
        </div>
        <div>
            <img src="/assets/platform/process.png">
            <p>面向过程</p>
        </div>
        <div>
            <img src="/assets/platform/RChainHero0941.png">
            <p>安全</p>
        </div>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">现在开始</a>
    </div>

</div>
