<div class="section" id="rchainSection">
    <h1>合作社贡献</h1>
    <p>全球社区会员已开始创建去中心化应用，为RChain生态系统提供种子并唤醒合作社会员们的更高阶协作。我们将创造新的市场机会，更重要的是在我们所生活的星球上创造新的生活方式。</p>
    <p>RChain为其拥有协作领导流程而感到自豪。我们的合作社组织架构促进了集体创造力和多样性，欢迎任何对RChain有兴趣的人一起加入我们的运动。任何会员都可以创建提案，招募工作组并具备分配工作所需资源的权限。我们的目标是为RChain未来的愿景分析、重要决策、资源分配及集体执行等工作实现全面的去中心化机制。</p>
</div>

<div class="section" id="posSection">
    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/rchain-community@3x.png">
        </div>
        <div class="textWrapper">
            <h2>加入合作社</h2>
            <p>我们需要您的帮助，来增强我们的力量并使我们更具影响力。请您放心，我们这里没有领导。</p>
            <ul>
                <li><span></span>加入合作社仅需很少的一次性费用</li>
                <li><span></span><span>董事会</span>由会员选举</li>
                <li><span></span>每位会员（个体或公司）都可在年会上就关键事项获得一票表决权</li>
            </ul>
            <a href="https://member.rchain.coop/#/sign-up" target="_blank" class="btn-blue2">现在加入</a>
        </div>
    </div>
</div>

<div class="section" id="communitySection">
    <div>
        <h2>加入我们的社区</h2>
        <p>社区是RChain的核心，是我们构建技术和社会工具以促进变革的基础。社区即是会员组成的协作网络，我们对RChain的未来感到乐观并将持续的互帮互助。</p>
    </div>

    <div class="flexWrapper">
        <div>
            <a href="https://github.com/rchain" target="_blank">
                <img src="/assets/github@3x.png">
            </a>
        </div>
        <div>
            <a href="https://twitter.com/rchain_coop" target="_blank">
            <img src="/assets/twitter@3x.png">
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank">
            <img src="/assets/youtube@3x.png">
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/company/rchain-cooperative/" target="_blank">
            <img src="/assets/linkedin@3x.png">
            </a>
        </div>
        <div>
            <a href="https://t.me/rchain_coop" target="_blank">
            <img src="/assets/telegram@3x.png">
            </a>
        </div>
        <div>
            <a href="https://discordapp.com/invite/fvY8qhx" target="_blank">
            <img src="/assets/discord@3x.png">
            </a>
        </div>
        <div>
            <a href="https://discordapp.com/invite/fvY8qhx" target="_blank">
            <img src="/assets/reddit@3x.png">
            </a>
        </div>
    </div>
</div>

<div class="section" id="articleSection">
    <div class="flexWrapper">
        <div class="flexWrapper">
            <h2>最新文章</h2>
            <div>
                <a href="https://blog.rchain.coop/category/learn/" target="_blank">
                <img src="/assets/cooperative/article1.jpg">
                <p>可计算性理论模型初识（一）</p>
                </a>
            </div>
            <div>
                <a href="https://blog.rchain.coop/category/community/" target="_blank">
                <img src="/assets/cooperative/article.jpg">
                <p>RCHAIN简报92: 验证者经济</p>
                </a>
            </div>
            <div>
                <a href="https://blog.rchain.coop/calculus-primer-%CF%81-calculus/" target="_blank">
                <img src="/assets/cooperative/article3.jpg">
                <p>可计算性理论模型初识(三）: ρ-演算</p>
                </a>
            </div>
            <a href="https://blog.rchain.coop/" target="_blank">进入博客获取更多内容</a>
        </div>


        <div class="flexWrapper">
            <div>
                <h2>最新活动</h2>
                <a href="https://developer.rchain.coop/conference" target="_blank">
                <img src="/assets/cooperative/rcon.png">
                </a>
            </div>
            <a href="https://developer.rchain.coop/conference" target="_blank">了解所有活动</a>
        </div>
    </div>
</div>
